<div class="flex justify-center">
  <div>
    <h1>COLABORACIONES BENÉFICAS</h1>
    <div>
      <p>
        Todos los bits y las subs recaudados en este directo irán destinados a
        tres asociaciones benéficas:
      </p>
    </div>
    <div>
      <p>
        Laika, con más 130 gatos disponibles para la adopción, y Ronronejand con
        varias colonias repartidas por Andorra de las que se encargan ofreciendo
        un techo, comida y sanidad óptima para los animales.
      </p>
    </div>
    <div class="w-[900px] m-0 m-auto *:m-0 *:m-auto *:mt-[60px]">
      <div
        class="w-[100px] h-[100px] border-[2px] rounded-lg p-[10px] flex items-center justify-center"
      >
        <img
          src="../../public/icons/RONRONEJAND.png"
          class="w-[60px] flex align-center justify-center"
          alt=""
        />
      </div>

      <div
        class="w-[100px] h-[100px] border-[2px] rounded-lg p-[10px] flex items-center justify-center"
      >
        <img
          src="../../public/icons/laika.png"
          class="w-[60px] flex align-center justify-center"
          alt=""
        />
      </div>

      <div>
        <p>
          Gos-sos, encargada de ayudar con alimentación y veterinario a quienes
          lo soliciten y cumplan los requisitos, además de gestionar la perrera
          y cuidar a los animales que se encuentran en ella.
        </p>
      </div>
      <div
        class="w-[100px] h-[100px] border-[2px] rounded-lg p-[10px] flex items-center justify-center"
      >
        <img
          src="../../public/icons/logogos.png"
          class="w-[60px] flex align-center justify-center"
          alt=""
        />
      </div>
      <div>
        <p>
          StopHaters, que trabaja para evitar y minimizar los problemas de acoso
          que se pueden vivir en internet, con labores informativas y de
          asesoramiento.
        </p>
        <p>
          Además, StopHaters ha preparado algunos materiales especiales para el
          evento, como estos documentos informativos sobre ciberseguridad para
          streamers y viewers
        </p>
      </div>
      <div
        class="w-[100px] h-[100px] border-[2px] rounded-lg p-[10px] flex items-center justify-center"
      >
        <img src="../../public/icons/logostop.png" class="w-[60px]" alt="" />
      </div>
    </div>
  </div>
</div>
