<div>
  <div
    class="bg-[url('../../public/images/grefg.png')] w-[100%] h-[70vh] bg-[100%] bg-cover"
  >
    <div
      class="bg-[#1199d861] backdrop-blur-lg h-[70vh] *:ml-[60px] *:mt-[60px] flex items-center flex-col"
    >
      <h1 class="text-3xl font-semibold">LA ALFOMBRA BLANCA Y LA GALA</h1>
      <span class="text-slate-300 font-semibold">16 de febrero de 2024</span>
      <div class="*:mt-[60px] *:w-[800px]">
        <p>
          <strong data-v-10e03b72=""
            >Uno de los días más esperados del año</strong
          > en la comunidad hispanohablante, <strong data-v-10e03b72=""
            >con dos grandes hitos concentrados en un mismo directo.</strong
          > Una alfombra por la que pasarán <strong data-v-10e03b72=""
            >los mejores streamers del año</strong
          >, luciendo sus mejores galas, momentos antes de saber si son los
          premiados.
        </p>
        <p>
          <strong data-v-10e03b72=""
            >con la entrega de premios, conciertos de artistas internacionales,
            y una gran cantidad de contenido</strong
          >
        </p>
        <p>No te lo pierdas.</p>
      </div>
    </div>
  </div>
</div>
