<div
  class="flex justify-center mb-[90px] flex-col text-center bg-[#2673c2]"
  id="generator-footer"
>
  <div>
    <h1 class="text-6xl font-semibold">DISFRUTA DEL REDDIT DE LA COMUNIDAD</h1>
  </div>
  <div class="w-[60%] h-[60%] text-center m-0 m-auto">
    <img src="../../public/images/laptop.png" alt="" />
  </div>
  <div>
    <p class="w-[900px] m-0 m-auto mt-[20px] gap-9">
      Este año, el reddit no formará parte de las votaciones de los premios,
      pero sí que <strong data-v-207d979a=""
        >formará parte de la comunidad</strong
      >. El subreddit oficial de los Premios ESLAND está abierto para ti, para
      que compartas tus clips, tus opiniones y para que <strong
        data-v-207d979a="">interactúes con toda la comunidad</strong
      > del streaming hispanohablante.
    </p>
    <button
      class="rounded-full bg-transparent border-2 p-[10px] w-[200px] m-[10px]"
      >ÚNETE</button
    >
  </div>
</div>
