<div class="flex flex-col items-center justify-center h-[80vh]" id="banner">
  <div class="w-[100%] h-[100%] absolute -z-10 left-0 top-0">
    <video
      class="w-[100%] h-[100vh] object-cover"
      src="../../public/videos/video.mp4"
      loop
      autoplay></video>
  </div>
  <div>
    <img width="600px" src="../../public/icons/logo-home.svg" alt="" />
  </div>
  <a
    href="#"
    class="bg-white hover:bg-slate-200 p-[10px] rounded-full font-semibold"
  >
    <span class="uppercase text-slate-900">Compra tu Entrada</span>
  </a>
</div>
