<footer class="bg-[#020710] w-[100%]">
  <section>
    <article class="flex justify-center flex-col">
      <div class="translate-y-[-60px] flex justify-center">
        <img src="../../public/icons/logo.png" alt="" />
      </div>
      <div>
        <nav>
          <ul class="flex justify-center *:m-[10px]">
            <li>
              <a href="#"
                ><img
                  class="w-[30px]"
                  src="../../public/icons/i-twitter.png"
                  alt=""
                /></a
              >
            </li>
            <li>
              <a href="#"
                ><img
                  class="w-[30px]"
                  src="../../public/icons/i-instagram.png"
                  alt=""
                /></a
              >
            </li>
            <li>
              <a href="#"
                ><img
                  class="w-[30px]"
                  src="../../public/icons/i-reddit.png"
                  alt=""
                /></a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <nav>
          <ul class="flex justify-center flex-col text-center *:mt-[10px]">
            <li><a href="#">AVISO LEGAL</a></li>
            <li><a href="#">PRIVACIDAD</a></li>
            <li><a href="#">COOKIES</a></li>
          </ul>
        </nav>
      </div>
      <div>
        <nav>
          <ul class="flex justify-center flex-col text-center mt-[30px] *:mt-[10px]">
            <li><a href="#">HOME</a></li>
            <li><a href="#">INFO</a></li>
            <li><a href="#">ARCHIVO</a></li>
          </ul>
        </nav>
      </div>
      <div class="w-[200px] m-0 m-auto">
        <img class="w-[200px]" src="../../public/icons/ubiq.svg" alt="" />
      </div>
      <div
        class="w-[100%] h-[60px] bg-[#005099] flex items-center justify-center"
      >
        <div>
          <p>@ ESLAND (UNOFICIAL) 2023 - 2024</p>
        </div>
      </div>
    </article>
  </section>
</footer>
