---
import LogoHome from "../../public/icons/logo-home.svg";
---

<header class="relative">
  <nav>
    <ul
      class="flex items-center justify-between *:p-[6px] *:ml-[80px] *:mr-[80px]"
    >
      <div class="flex items-center *:m-[16px]">
        <li>
          <a href="#"
            ><img
              class="w-[60px]"
              src="../../public/icons/logo.png"
              alt=""
            /></a
          >
        </li>
        <li><a href="#">INFO</a></li>
        <li><a href="#">ARCHIVO</a></li>
      </div>
      <div class="flex items-center rounded-full border-[1px] *:p-[6px]">
        <li><a href="#">ESLAND EL DOCUMENTAL</a></li>
      </div>
    </ul>
  </nav>
</header>
